# Django specific files
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Database file
db.sqlite3

# Local settings
local_settings.py

# Media files
media/

# Static files
staticfiles/

# Log files
*.log

# Secret key
*.secret

# Virtual environment
.env

# IDE files
*.idea/
.vscode/



# Cache files
.cache/
