{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href="{% static 'accounts/css/pro.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


<!------ Include the above in your HEAD tag ---------->
<div class="container px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-5 ">
              <div class="card1 ">
                  <div class="row">
                  </div>
                  <div class="row px-5 justify-content-center mt-5 mb-4 border-line">
                      <img src="https://media.istockphoto.com/id/1412330787/vector/reset-password-action.jpg?s=612x612&w=0&k=20&c=Vyk40Jz-PxLlo1ZumCfJfCN0GF2_w1W3W7tgJHj-h2U=" class="image rounded-circle shadow-4-strong">
                  </div>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="card2 card border-0  py-3">
                <div class="card-body">
                    <div class="card-header header ">
                    <h4>Password Reset</h4>
                    </div>
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-group px-3 pt-5">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Enter Your Email Address</h6></label>
                        {{form.email}} 
                          {% if form.email.errors %}
                          {% for error in form.email.errors %}
                          <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                          {% endif %}
                      </div>
                      <div class="form-group px-3 pt-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      
                    
                    </form>
                </div>    
          </div>
      </div>   
  </div>
</div>