<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Done Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .body{
            background-color: #025aa5;
        }
        .jumbotron {
            background-color: #f2f2f2;
            padding: 3rem 2rem;
          }
          
          h1 {
            color: #333;
          }
          
          a {
            color: #007bff;
            text-decoration: underline;
          }
          
    </style>
</head>
<body class="body" >
    <div class="container pt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Your password was successfully changed!</h1>
            <p class="lead">Thanks for spending some quality time with the web site today..</p>
            <hr class="my-4">
            <p>Click here to <a href="{% url 'login' %}">Login again</a></p>
          </div>
    </div>
      
</body>
</html>