<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .body{
            background-color: #025aa5;
        }
        .jumbotron {
            background-color: #f2f2f2;
            padding: 3rem 2rem;
          }
          
          h1 {
            color: #333;
          }
          
          a {
            color: #007bff;
            text-decoration: underline;
          }
          
    </style>
</head>
<body class="body" >
    <div class="container pt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">We have shared Email to your Registered Email-Address</h1>
            <p class="lead">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="lead">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <hr class="my-4">
            <p>Please Check</p>
          </div>
    </div>
      
</body>
</html>